.containerUser{
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin: 0 3.125rem;
    flex-wrap: wrap;
}

.containerUser p{
    text-align: left;
}

.link{
    text-decoration: none;
    color: red;
}